

// COLORS

$color-black: #000;
$color-text: #272F39;

$color-primary: #3C86F4;
$color-good: #26D193;
$color-bad: #D13B74;

$color-gray-200: #F0F2F5;
$color-gray-300: #EAECEF;
$color-gray-400: #E7E9ED;
$color-gray-500: #E4E6EB;
$color-gray-600: #dee0e5;

$color-gray-800: #A6ABB6;






// TYPE

$ff-gotham: "Gotham Pro", sans-serif;
$ff-basic: $ff-gotham;

$fz-1: 3rem;
$fz-2: 2.25rem;
$fz-3: 1.75rem;
$fz-4: 1.375rem;
$fz-5: 1.125rem;
$fz-6: 1rem;

$fz-huge-1: 96px;
$fz-huge-2: 72px;

$fz-xxs: 0.875rem;
$fz-xs: 0.93rem;
$fz-sm: 1rem;
$fz-md: 1.125rem;
$fz-lg: 1.25rem;
$fz-xl: 1.37rem;




// TRANSITIONS

$trans-n-fast: 0.15s;
$trans-n-medium: 0.3s;
$trans-n-slow: 0.6s;



// SIZINGS

$pagepadding-mob: 15px;
$pagepadding-desk: $pagepadding-mob;

