.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  font-family: $ff-gotham;
  position: fixed;
  display: none;
  z-index: 99999;
  background: #FFF;
  border-radius: 14px;
  left: 50%;
  top: 50%;
}

.modal-active {
  display: block !important;
}