* {
	box-sizing: border-box;

	&:before, &:after {
		box-sizing: border-box;
	}
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section, video, iframe, blockquote, p {
  display: block;
  margin: 0;
  padding: 0;
}

label {
	display: block;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

img,
video {
	max-width: 100%;
}

button, input[type="button"]{
	cursor: pointer;
}
