.modal-auth-1 {
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;

  .title {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 60px;
  }

  .input-wrapper {
    width: 100%;
    margin-bottom: 60px;

    #input-num {
      width: 50%;
      margin-left: 25%;
      border: 2px solid #DCDEE2;
      border-radius: 6px;
      padding: 17px 20px;

      &:focus {
        outline-color: #3C86F4;
      }
    }
  }

  .exit {
    display: inline-block;
    margin-left: 94%;
    margin-top: 20px;
    cursor: pointer;
  }

  .btn-enter-1 {
    margin-left: 50%;
    position: relative;
    left: -29px;
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #CEE1FC;
  }

  .btn-enter-active {
    background-color: #3C86F4 !important;
    cursor: pointer;
  }
}

.modal-auth-2 {
  width: 600px;
  height: 540px;
  margin-left: -300px;
  margin-top: -270px;

  .title {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 60px;
  }

  .input-wrapper {
    width: 100%;
    margin-bottom: 60px;

    input {
      width: 50%;
      margin-left: 25%;
      border: 2px solid #DCDEE2;
      border-radius: 6px;
      padding: 17px 20px;

      &:focus {
        outline-color: #3C86F4;
      }
    }
  }

  .exit {
    display: inline-block;
    margin-left: 94%;
    margin-top: 20px;
    cursor: pointer;
  }

  .btn-enter-2 {
    margin-left: 50%;
    position: relative;
    left: -29px;
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #CEE1FC;
  }

  .btn-enter-active {
    background-color: #3C86F4 !important;
    cursor: pointer;
  }

  .subtitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }

  .text {
    padding: 0 20px;
    margin-bottom: 60px;
    text-align: center;
  }
}

@media (max-width:768px) {
  .modal-auth-1 {
    width: 400px;
    left: 50%;
    margin-left: -200px;
  }

  .modal-auth-2 {
    width: 400px;
    left: 50%;
    margin-left: -200px;
  }
}