body.home {
    background: url(assets/img/home-top.png) no-repeat center top;
    background-size: contain;
    background-position-y: -100px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.block1 {
    display: flex;
    align-items: center;

    .text-block {
        width: 50%;
        padding-right: 40px;

        .title {
            font-family: $ff-gotham;
            font-weight: 600;
            font-size: 36px;
            margin-bottom: 30px;
        }

        .text {
            font-family: Inter;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 73px;
        }

        .button {
            margin-right: 15px;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 992px) {
    .block1 {
        flex-direction: column-reverse;
        margin-bottom: 100px;

        .text-block {
            text-align: center;
            width: 100%;
            padding-right: 0;

            .title {
                font-size: 28px;
            }

            .button {
                margin-right: 0;
                width: 100%;
            }
        }

    }
}

// ==============================   BLOCK 2   ==============================

.block2 {
    display: flex;
    text-align: center;
    font-family: Inter;
    margin-bottom: 180px;

    .item {
        padding-right: 20px;
        padding-left: 20px;

        .logo {
            height: 80px;
            margin-bottom: 60px;
        }

        .title {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .text {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media (max-width: 992px) {
    .block2 {
        flex-direction: column-reverse;
        margin-bottom: 100px;

        .item {
            margin-bottom: 50px;
        }
    }
}

// ==============================   BLOCK 3   ==============================

.block3 {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 150px;

    .text {
        margin-right: 50px;
        font-size: 17px;
        line-height: 30px;
    }
}

@media (max-width:1250px) {
    .block3 {
        margin-bottom: 100px;
        flex-direction: column-reverse;

        .photo {
            margin-bottom: 15px;
        }

        .text {
            margin-right: 0;
            padding: 20px;
        }
    }
}

// ==============================   BLOCK 4   ==============================

.block4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-weight: 400;
    margin-bottom: 135px;

    .title {
        width: 100%;
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 90px;
        font-family: $ff-gotham;
    }

    .item {
        width: 26%;
        margin-bottom: 50px;

        .logo-wrap {
            margin: 0 auto;
            width: 150px;
            position: relative;
            margin-bottom: 40px;

            .background {
                width: 100%;
            }

            .logo {
                position: absolute;
                left: 30%;
                top: 25%;
                width: 40%;
            }
        }

        .title {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
            font-family: Inter;
        }

        .text {
            padding: 0 10px;
            font-family: Inter;
            font-size: 14px;
        }
    }
}

@media (max-width:992px) {
    .block4 {
        .item {
            width: 45%;
        }
    }
}

@media (max-width:768px) {
    .block4 {
        margin-bottom: 100px;

        .item {
            width: 100%;
        }
    }
}

// ==============================   BLOCK 5   ==============================

.block5-wrap {
    background: rgba(60, 134, 244, 0.15);
    border-radius: 14px;
    margin: 0 40px;
    margin-bottom: 90px;
}

.block5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .main-title {
        display: inline;
        width: 100%;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 900;
        position: relative;
        left: 40px;
        bottom: 22px;
    }

    .item {
        width: 31%;
        margin-bottom: 55px;

        .img {
            margin-bottom: 30px;
        }

        .title-flex {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 25px;

            .title {
                font-family: Inter;
                font-weight: 700;
                font-size: 18px;
            }

            #block4-title-1 {
                min-width: 165px;
            }

            #block4-title-2 {
                min-width: 230px;
            }

            .arrow-wrap {
                max-width: 100%;

                .arrow {
                    min-height: 24px;
                }
            }
        }

        .text {
            font-family: Inter;
            font-size: 16px;
            width: 80%;
        }
    }
}

@media (max-width: 1500px) {
    .block5-wrap {
        padding: 20px;
        margin: 0 20px;
        margin-bottom: 100px;
    }

    .block5 {
        .main-title {
            left: 40px;
            bottom: 42px;
        }
    }
}

@media (max-width:992px) {
    .block5 {
        flex-direction: column;

        .main-title {
            left: 00px;
            font-size: 27px;
            bottom: 39px;
        }

        .item {
            width: 100%;

            .arrow {
                display: none;
            }
        }
    }
}

// ==============================   BLOCK 6   ==============================

.block6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 120px;

    .title {
        width: 100%;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 80px;
    }

    .item {
        margin: 0 70px;

        .num {
            font-size: 48px;
            font-weight: 700;
            color: #3C86F4;
            margin-bottom: 35px;
        }

        .text {
            font-weight: 600;
            font-size: 18px;
        }
    }
}

@media (max-width:992px) {
    .block6 {
        margin-bottom: 80px;

        .title {
            margin-bottom: 60px;
        }

        .item {
            width: 100%;
            margin-bottom: 40px;

            .num {
                margin-bottom: 15px;
            }

        }
    }
}

// ==============================   BLOCK 7   ==============================

.block7-wrap {
    background-color: #26D193;
    padding-top: 70px;
    padding-bottom: 60px;

    .top-block {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 36px;
        color: white;
        display: flex;
        justify-content: space-between;
        margin-bottom: 85px;

        .arrow-btns {
            margin-top: 5px;

            .arrow {
                margin-left: 25px;
                padding: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .main-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
            width: 49%;
            background-color: white;
            border-radius: 8px;
            padding: 0 30px 30px;
            min-height: 335px;
            transition: 1s;

            .name {
                font-weight: 700;
                margin-bottom: 15px;
            }

            .photo {
                position: relative;
                top: -20px;
            }

            .text {
                line-height: 26px;
                font-family: Inter;
                font-size: 16px;
                font-style: italic;
            }
        }
    }
}

@media (max-width:992px) {

    .block7-wrap {
        padding-top: 40px;
    }

    .block7 {
        .top-block {
            flex-direction: column;
            margin-bottom: 40px;

            .title {
                text-align: center;
                font-size: 28px;
            }

            .arrow-btns {
                margin-top: 20px;
                display: flex;
                justify-content: space-evenly;

                .arrow {
                    margin: 0;
                }
            }
        }

        .main-block {
            .item {
                width: 100%;
                min-height: 441px;
            }
        }
    }
}

// ==============================   BLOCK APP 1   ==============================

.block-app-1 {
    display: flex;
    align-items: center;
    margin-bottom: 120px;

    .phone-wrap {
        width: 50%;
        text-align: center;
    }

    .text-block {
        td.num {
            font-family: Inter;
            font-weight: 700;
            font-size: 20px;
            color: #3C86F4;
        }

        td {
            padding-bottom: 30px;
            padding-left: 20px;
        }

        .gp {
            width: 60%;
            margin-left: 20%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width:768px) {
    .block-app-1 {
        flex-wrap: wrap;

        .phone-wrap {
            width: 100%;
        }

        .text-block {
            .gp {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.block-app-2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 90px;
    margin-bottom: 70px;

    .gp {
        max-width: 400px;
    }
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-auth {
    font-family: $ff-gotham;
    position: fixed;
    display: none;
    z-index: 99999;
    color: #000;
    background: #FFF;
    border-radius: 14px;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;

    .title {
        text-align: center;
        margin-top: 26px;
        margin-bottom: 60px;
    }

    .input-wrapper {
        width: 100%;
        margin-bottom: 60px;

        input {
            width: 50%;
            margin-left: 25%;
            border: 2px solid #DCDEE2;
            border-radius: 6px;
            padding: 17px 20px;
        }
    }

    .exit {
        display: inline-block;
        margin-left: 94%;
        margin-top: 20px;
        cursor: pointer;
    }

    .btn-enter-1 {
        margin-left: 50%;
        position: relative;
        left: -29px;
        padding: 20px;
        display: inline-block;
        border-radius: 50%;
        background-color: #CEE1FC;
    }

    .btn-enter-active {
        background-color: #3C86F4 !important;
        cursor: pointer;
    }
}

.modal-auth-step-2 {
    display: none;
    font-family: $ff-gotham;
    position: fixed;
    display: none;
    z-index: 99999;
    color: #000;
    background: #FFF;
    border-radius: 14px;
    width: 600px;
    height: 540px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -270px;

    .title {
        text-align: center;
        margin-top: 26px;
        margin-bottom: 60px;
    }

    .input-wrapper {
        width: 100%;
        margin-bottom: 60px;

        input {
            width: 50%;
            margin-left: 25%;
            border: 2px solid #DCDEE2;
            border-radius: 6px;
            padding: 17px 20px;
        }
    }

    .exit {
        display: inline-block;
        margin-left: 94%;
        margin-top: 20px;
        cursor: pointer;
    }

    .btn-enter-2 {
        margin-left: 50%;
        position: relative;
        left: -29px;
        padding: 20px;
        display: inline-block;
        border-radius: 50%;
        background-color: #CEE1FC;
    }

    .btn-enter-active {
        background-color: #3C86F4 !important;
        cursor: pointer;
    }

    .subtitle {
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    .text {
        padding: 0 20px;
        margin-bottom: 60px;
        text-align: center;
    }
}

.modal-active {
    display: block !important;
}

@media (max-width:768px) {
    .modal-auth {
        width: 400px;
        left: 50%;
        margin-left: -200px;
    }

    .modal-auth-step-2 {
        width: 400px;
        left: 50%;
        margin-left: -200px;
    }
}